<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<body id="loginForm">


	<div class="container">

		<div id="panel-inicio">
			<div class="div-centro">
    			<div class="panel">
   					<h2>Solicitud de cambio de clave</h2>
   					<p>Porfavor ingrese sus datos para cambiar la clave!</p>
   				</div>
    			<form action="dashboard.html">
        			<div class="form-group">
            			<input type="password" class="form-control" id="inputEmail" placeholder="Contraseña">
        			</div>

        			<div class="form-group">
            			<input type="password" class="form-control" id="inputPassword" placeholder="RepetirContraseña">
        			</div>

        			<button type="submit" class="btn btn-primary">Cambiar Contraseña</button>

    			</form>
    		</div>

		</div>
	</div>




</body>