<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body class="home">

  <div class="container h-100" >
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12" id="compras">
        <br>
        <h1>Administrar Productos</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Imagen</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Editar</th>
              
            </tr>
          </thead>
         <ul>
           <li *ngFor="let p of productos">
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Imagen</td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Precio}}</td>
                    <td><a href="#">Si</a></td>
                    <th scope="col"> <button (click)="deletep($event,p)">Eliminar</button></th>
                    <td><button (click)="editp($event,p)">Editar</button></td>
                   <div *ngIf="editing && editingp.id == p.id">
                     <form (ngsubmit)="up()">
                       <input type="text" name="Name" [(ngModel)]="editingp.Name">                       
                       <input type="number" name="Price" [(ngModel)]="editingp.Price">
                      <button (click)="up()" type="submit">actualizar</button>
                     </form>
                     
                   </div>
                    
                  </tr>
                 
                  
                </tbody>
           </li>
         </ul>
        </table>

        <form (ngsubmit)="addp()">
          <input type="text" name="Name" [(ngModel)]="prod.Name">
          <input type="text" name="id" [(ngModel)]="prod.id">
          <input type="number" name="Precio" [(ngModel)]="prod.Precio">
          <button (click)="addp()" type="submit">
            Agregar
          </button>
        
        </form>

      </div>
    </div>

  </div>
   
  
  
  </body>
