<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700|Playfair+Display:400,700" rel="stylesheet">
<app-navbar></app-navbar>
<body class="home">

  <div class="container h-100" >
    <div class="row h-100 justify-content-center align-items-center">

      <div class="col-sm-12 col-md-12" id="compras" >
        <h1>Agregar Productos</h1>
        <form (ngsubmit)="addp()">
         
          <div class="row">
            <div class="col">
              <label for="Name">Nombre: </label>
              <input type="text" name="Name" [(ngModel)]="prod.Name">
            </div>
            <div class="col">
              <label for="Imagen">Imagen URL: </label>
              <input type="text" name="Imagen" [(ngModel)]="prod.Imagen">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="Precio">Precio: </label>
              <input type="number" name="Precio" [(ngModel)]="prod.Precio">
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="addp()" type="submit"> Agregar </button>
            </div>
          </div>
          
          
        
        </form>
        <input type="search" ng-model="filtro" placeholder="Ingrese filtro...">
      </div>

      <div class="col-sm-12 col-md-12" id="compras" >
        <h1>Administrar Productos</h1>
        <table class="table" id="h">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Imagen</th>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Editar</th>
              
            </tr>
          </thead>

              <tbody ng-repeat="p in productos | filter: filtro as resultado">
                
                  <tr>
                    
                    <th scope="row">1</th>
                    <td>{{p.Imagen}}</td>
                    <td>{{p.Name}}</td>
                    <td>{{p.Precio}}</td>
                    <td><a href="#">Si</a></td>
                    <th scope="col"> <button class="btn btn-danger" (click)="deletep($event,p)">Eliminar</button></th>
                    <td><button class="btn btn-info" (click)="editp($event,p)">Editar</button></td>
                  </tr> 

                  <tr>
                   <div *ngIf="editing && editingp.id == p.id">
                     <form (ngsubmit)="up()">
                       <input placeholder="Nombre" type="text" name="Name" [(ngModel)]="editingp.Name">                       
                       <input placeholder="Precio" type="number" name="Precio" [(ngModel)]="editingp.Precio">
                      <button class="btn btn-primary" (click)="up()" type="submit">actualizar</button>
                     </form>                     
                   </div>     
                   </tr>


                     
              </tbody>

        </table>

        

      </div>
    </div>

  </div>
   
  
  
  </body>
