
<div *ngIf="auth.user | async; then authenticated else guest" >
        <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest >

    <div class="pen-title">
      <h1>uMakeIt</h1>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
      <div class="toggle">
 
      </div>
      <div class="form">
        <h2>Ingresar a su cuenta</h2>
        <form>
          <button (click)="auth.googleLogin()">
                <i class="fa fa-google"></i> Connect Google
          </button>
        </form>
      </div>
     
      <div class="cta"></div>
    </div>


</ng-template>


<!-- User logged in -->
<ng-template #authenticated>

    <div *ngIf="auth.user | async as user">
 
                    <div class="pen-title">
                      <h1>uMakeIt</h1>
                    </div>
                    <!-- Form Module-->
                    <div class="module form-module">
                      <div class="toggle">
                 
                      </div>
                      <div class="form">
                        <h2>Bienvenido, {{ user.displayName }}</h2>
                        <form>
                          <a href="./home" id="button" >Continuar</a>
                          <p></p>
                          <button (click)="auth.signOut()">Logout</button>
                        </form>
                      </div>
                     
                      <div class="cta"></div>
                    </div>


    </div>

</ng-template>



